.page-title {
    position: relative;
    height: 100%;
    overflow: hidden; 
    background-color: #f5f5f5;
}

.page-title h1 {
    padding: 1rem;
    font-size: clamp(2.5rem, 4vw, 4rem);
    font-family: 'Source Sans Pro';
    font-weight: 800;
    animation: text-overflow 800ms ease forwards; 
   
    
}
.page-title::before {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid #FF0000;
    left: 0rem; 
}

header, main, main > * + * {
    margin-top: var(--layout-spacing);
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    padding: 5vh clamp(4rem, 3vw, 3rem) 3rem;
    line-height: 1.5;
    color: #222;
}

.blog_text{
    display: flex;
    flex-direction: column;
    padding: 1vh clamp(2rem, 2vw, 2rem) 2rem;
    line-height: 1.5;
    color: #222;
    background-color: #f5f5f5;
}

.tags, .home_button{
    padding-top: 1em;
    padding-bottom: 1em;
}

header, footer {
    width: 100%;
    padding: 1em;
    background-color: #f5f5f5;
}

.home_button button{
    padding: 1em;
}
.page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1em;
}

.page-footer .footer-link {
    color: black;
    text-decoration: none; 
}

.page-footer .footer-link:hover {
    text-decoration: underline; 
}
    
.page-footer .footer-link:focus-visible {
    text-decoration: underline; 
}