{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block extra_css %}
    <link rel="stylesheet"  type="text/css" href="{% static 'css/blog_page.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
    {% endblock %}
</head>

{% block content %}
    <div class = "page-title"> <h1>{{ page.title }}</h1> </div>
    <p class="meta">{{ page.date }}</p>

    {% with authors=page.authors.all %}
        {% if authors %}
            <h3>Posted by:</h3>
            <ul>
                {% for author in authors %}
                    <li style="display: inline">
                        {{ author.name }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %} 

    <div class= "intro"> <h3>{{ page.intro }} </h3></div>
    <div class = "blog_text"> <p> {{ page.body|richtext }} </p> </div>

    {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}

    <div class="home_button"> 
        <a href="{{ page.get_parent.url }}"><button type="return">Return Home</button></a>
    </div>

    {% with tags=page.tags.all %}
        {% if tags %}
            <div class="tags">
                <h3>Tags</h3>
                {% for tag in tags %}
                    <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}


    <footer class="page-footer">
        <a
        href="link"
        aria-label="Main CSC Website"
        class="footer-link"
        >
        &copy; 2024 SoDA </a
        >
    </footer>

{% endblock %}